<header>
		<section class="container" id="hud">
				<div>
				{{!
						<a href="/fr/offre/betv-go/">Be tv Go</a>&nbsp;-&nbsp;
						<a href="/fr/avantage/be-a-la-demande/">Be à la demande</a>
				}}
				</div>

				<div id="searchbox">
				{{!
						<input type="text" placeholder="Chercher sur Be tv" />
						<span class="sprites magnifier"></span>
				}}
				</div>
				<div>
						<a href="/fr/contact/telephone/">Contacter Be tv</a> -
						Partagez
						<a href="https://www.facebook.com/Betv.FanPage" class="fb sprites"></a>
						<a href="https://plus.google.com/u/0/108929015862222785558/posts" class="gplus sprites"></a>
						<a href="https://twitter.com/Betv_Belgique" class="tw sprites"></a>
				</div>
		</section>

		<div class="clear"></div>

		<nav class="wide-container">
				<div class="container mainmenu">
						<div id="headerMenu">
								<a href="/fr/"><img src="/static/assets/images/logo-betv.png" class="logo-betv" width="95" height="67" /></a>
								<ul class="headerMenu-menu">
										<li class="headerMenu-list btn-hidden">
												<a href="/fr/" class="menu-home "><span class="home sprites"></span></a>
										</li>
										<li class="headerMenu-list hasHoverMenu">
												<a href="#" class="headerMenu-lien{{{isBtnActive  "program" id }}}">Nos Programmes</a>
												<!-- DROPDOWN -->
												<div class="hovermenu">
														<ul class="hovermenu-list">
																<li class="title">
																		Nos Programmes
																</li>
																<li>
																		<a href="/fr/theme/film/">
																				Cinéma
																		</a>
																</li>
																<li>
																		<a href="/fr/theme/serie/">
																				Séries
																		</a>
																</li>
																<li>
																		<a href="/fr/theme/sport/">
																				Sport
																		</a>
																</li>
																<li>
																		<a href="/fr/theme/divertissement/">
																				Infos & émissions
																		</a>
																</li>
														</ul>

														<a class="btn-discover_program" href="/fr/theme/film/#weekly-shows">Découvrir notre programme cinéma</a>

														<div class="vignettes">

																<h2>Prochainement sur Be tv</h2>

																<article>
																		<a href="34488083" class="whole-link absolute btn-popupFiche" id="X-Men-Days-Of-Future-Past"></a>
																		<img src="assets/images/vignettes/cinema/x-men-days-of-the-future-past.jpg" alt="X-Men : Days Of Future Past" class="vignette-bg bg-menu" />
																		<div class="title-box multiline">
																			X-Men : <br/>Days Of Future Past
																		</div>
																		<footer>
																				<span class="chaine">
																						Be 1 HD
																				</span><br />
																				<span class="time">
																						Le 18/04 à 20h55
																				</span><br />
																				<span class="episode">
																					Et si on renvoyait Wolverine <br/>dans le passé?
																				</span>
																		</footer>
																</article>

																<article>
																		<a href="207477" class="whole-link absolute btn-popupFiche" id="F-A-Cup-demi-finales"></a>
																		<img src="assets/images/vignettes/sport/fa-cup-demi-finale.jpg" alt="F.A. Cup : demi-finales" class="vignette-bg bg-menu" />
																		<div class="title-box">
																			F.A. Cup : demi-finales
																		</div>
																		<footer>
																				<span class="chaine">
																					Be Sport 1 HD
																				</span><br />
																				<span class="time">
																					Le 18/04 à 18h30
																				</span><br />
																				<span class="episode">
																					Bienvenue sur le mythique gazon de Wembley !
																				</span>
																		</footer>
																</article>

																<article>
																		<a href="34578354" class="whole-link absolute btn-popupFiche" id="NBA-les-playoffs"></a>
																		<img src="assets/images/vignettes/sport/nba-playoffs.jpg" alt="NBA : les playoffs" class="vignette-bg bg-menu" />
																		<div class="title-box">
																			NBA : les playoffs
																		</div>
																		<footer>
																				<span class="chaine">
																					Be Sport 2
																				</span><br />
																				<span class="time">
																					Le 19/04 à 20h30
																				</span><br />
																				<span class="episode">
																					L’heure H a sonné pour les meilleures équipes.
																				</span>
																		</footer>
																</article>

														</div>

												</div>
												<!-- DROPDOWN -->
										</li>
										<li class="headerMenu-list">
												<a href="/fr/programme-tv/" class="headerMenu-lien {{{isBtnActive  'home' id }}}">Grille des programmes</a>
										</li>
										<li class="headerMenu-list hasHoverMenu" >
												<a href="/fr/offre/" class="headerMenu-lien {{#getHeaderMenuActive}}general,{{idName}},1{{/getHeaderMenuActive}}">Nos offres</a>
												<div class="hovermenu">
														<ul class="hovermenu-list">
																<li class="title">
																		Nos offres
																</li>
																<li>
																		<a href="/fr/offre/">
																				Vue d’ensemble
																		</a>
																</li>

																<li>
																		<a href="/fr/offre/premium/">
																				Be tv Premium
																		</a>
																</li>
																<li>
																		<a href="/fr/offre/sport/">
																				Be tv Sport
																		</a>
																</li>
																<li>
																		<a href="/fr/offre/bouquets/">
																				Be tv Bouquets
																		</a>
																</li>
																 <li>
																		<a href="/fr/offre/option/chaines-supplementaires/">
																				 Les Options Be tv
																		</a>
																</li>
														</ul>

														<div class="vignettes-aide">
																<div class="clas-col">
																		<h3><a href="/fr/offre/premium/">Be tv Premium</a></h3>
																		<div class="clas-col-content clas-col-content-centered">
																				<a href="/fr/offre/premium/" class="full-link" ></a>
																				<img src="assets/images/offre-tab-premium.jpg" width="230" height="144" class="clas-col-img" />
																				<p>
																						Le meilleur du cinéma,<br />
																						des séries et du sport<br />
																						<span class="orange">en exclusivité!</span>
																				</p>
																				<div class="bottom">
																						<span class="starts old-price">au lieu de 42,50€</span><br />
																						<div class="price">
																								<span class="unit">29,</span><span class="cents">90€</span>/mois
																						</div>
																						<a href="/fr/offre/premium/" class="discover">En savoir plus</a>
																				</div>
																		</div>
																</div>

																<div class="clas-col ">
																		<h3><a href="/fr/offre/sport/">Be tv Sport</a></h3>

																		<div class="clas-col-content clas-col-content-centered">
																				 <a href="/fr/offre/sport/" class="full-link" ></a>
																				<img src="assets/images/offre-tab-sport.jpg" width="230" height="144" class="clas-col-img" />
																				<p>
																						Pour les fans de sport,<br />
																						<span class="orange">3 chaînes exclusives</span><br />
																						dont 1 en HD
																				</p>
																				<div class="bottom">
																						<!-- <span class="starts old-price">au lieu de 24,99</span><br /> -->
																						<div class="price">
																								<span class="unit">24,</span><span class="cents">99€</span>/mois
																						</div>
																						<a href="/fr/offre/sport/" class="discover">En savoir plus</a>
																				</div>
																		</div>
																</div>
																<div class="clas-col clas-col-last">
																		<h3><a href="/fr/offre/bouquets/">Be tv Bouquets</a></h3>
																		<div class="clas-col-content clas-col-content-centered">
																				 <a href="/fr/offre/bouquets/" class="full-link" ></a>
																				<img src="assets/images/offre-tab-bouquet.jpg" width="230" height="144" class="clas-col-img" />
																				<p>
																						Composez votre<br />
																						programme <span class="orange">à la carte</span><br />
																						parmi un choix de 6<br />
																						bouquets thématiques
																				</p>
																				<div class="bottom">
																						<span class="starts">à partir de</span><br />
																						<!-- <span class="starts old-price">au lieu de 17,00€</span><br /> -->
																						<div class="price">
																								<span class="unit">17,</span><span class="cents">00€</span>/mois
																						</div>
																						<a href="/fr/offre/bouquets/" class="discover">En savoir plus</a>
																				</div>
																		</div>
																</div>


														</div>
												</div>
										</li>
										<li class="headerMenu-list hasHoverMenu">
												<a href="/fr/avantage/" class="headerMenu-lien {{#getHeaderMenuActive}}general,{{idName}},4{{/getHeaderMenuActive}}">Avantages abonnés</a>
												<!-- DROPDOWN -->
												<div class="hovermenu">


														<div class="vignettes-aide">
																<div class="clas-col clas-col-avantage-abo">
																		<h3><a href="http://www.betvgo.be/" target="_blank">Be tv Go</a></h3>
																		<div class="clas-col-content">
																				 <a href="http://www.betvgo.be/" target="_blank" class="full-link" ></a>
																				<img src="assets/images/avantage-tab-01.jpg" width="220" height="190" class="clas-col-img" />
																				<p>
																					Regardez deux programmes de Be tv simultanément : un sur votre télé, l’autre sur votre tablette, votre PC ou même via votre Xbox One.
																				</p>
																				<a href="http://www.betvgo.be" target="_blank" class="discover">Découvrir</a>
																		</div>
																</div>

																<div class="clas-col clas-col-avantage-abo">
																		<h3><a href="/fr/avantage/be-a-la-demande/">Be à la demande</a></h3>
																		<div class="clas-col-content">
																				 <a href="/fr/avantage/be-a-la-demande/" class="full-link" ></a>
																				<img src="assets/images/avantage-tab-02.jpg" width="220" height="190" class="clas-col-img" />
																				<p>
																						Revoir un épisode manqué de votre série préférée, un film,
																						un match ou un documentaire, c’est possible grâce à <strong>Be à la demande !</strong>
																				</p>
																				<a href="/fr/avantage/be-a-la-demande/" class="discover">Découvrir</a>
																		</div>
																</div>

																<div class="clas-col clas-col-avantage-abo">
																		<h3><a href="/fr/avantage/magasine-pdf/">Mon magazine</a></h3>
																		<div class="clas-col-content">
																				 <a href="/fr/avantage/magasine-pdf/" class="full-link" ></a>
																				<img src="assets/images/vignette-menu-magazine-betv-avril.jpg" width="220" height="190" class="clas-col-img" />
																				<p>
																						Le <strong>Magazine des Abonnés</strong>, pour vous plonger dans <strong>l’univers de
																						Be tv</strong> : programmes détaillés et cadeaux !
																				</p>
																				<a href="/fr/avantage/magasine-pdf/" class="discover">Découvrir</a>
																		</div>
																</div>

																<div class="clas-col clas-col-avantage-abo clas-col-last">
																		<h3><a href="/fr/avantage/privileges-abonnes/">Be Privilèges</a></h3>
																		<div class="clas-col-content">
																				 <a href="/fr/avantage/privileges-abonnes/" class="full-link" ></a>
																				<img src="assets/images/avantage-tab-04.jpg" width="220" height="190" class="clas-col-img" />
																				<p>
																						Abonnés à Be tv ? Nous allons vous gâter !
																						Participez à nos concours exclusifs et <strong>remportez des dizaines de cadeaux</strong>.
																				</p>
																				<a href="/fr/avantage/privileges-abonnes/" class="discover">Participer</a>
																		</div>
																</div>
														</div>
												</div>
												<!-- DROPDOWN -->
										</li>
										<li class="headerMenu-list hasHoverMenu">
												<a href="/fr/info/" class="headerMenu-lien {{#getHeaderMenuActive}}general,{{idName}},5{{/getHeaderMenuActive}}" >Aide</a>
												<!-- DROPDOWN -->
												<div class="hovermenu">
														<ul class="hovermenu-list">
																<li class="title">
																		Aide
																</li>

																 <li>
																		<a href="/fr/info/">
																			 Support en ligne
																		</a>
																</li>
																<li>
																		<a href="/fr/info/details/je-me-renseigne-sur-betv/">
																			 Devenir abonné
																		</a>
																</li>
																<li>
																		<a href="/fr/info/details/je-gere-mon-abonnement/">
																				Mon abonnement 
																		</a>
																</li>
																<li>
																		<a href="/fr/info/details/je-profite-des-services-et-privileges-offerts-aux-abonnes-be-tv/">
																		Services et privilèges
																		</a>
																</li>
																 <li>
																		<a href="/fr/contact/telephone/">
																				Contactez-nous
																		</a>
																</li>

																 
														</ul>

														<div class="vignettes-aide">
																<div class="clas-col">
																		<h3>Devenir abonné</h3>
																		<div class="clas-col-content clas-col-long">
																				 <a href="/fr/info/details/je-me-renseigne-sur-betv/" class="full-link" ></a>
																				<img src="assets/images/aide-tab-client.jpg" width="230" height="190" class="clas-col-img" />
																				<p>
																						Trouvez toutes les informations liées aux offres de Be tv et
																						prenez connaissance des démarches pour pouvoir souscrire un abonnement<br />à Be tv.
																				</p>
																				<a href="/fr/info/details/je-me-renseigne-sur-betv/" class="discover">Découvrir</a>
																		</div>
																</div>

																<div class="clas-col">
																		<h3><a href="/fr/info/details/je-gere-mon-abonnement/">Mon abonnement</a></h3>
																		<div class="clas-col-content">
																				 <a href="/fr/info/details/je-gere-mon-abonnement/" class="full-link" ></a>
																				<img src="assets/images/aide-tab-abo.jpg" width="230" height="190" class="clas-col-img" />
																				<p>
																						Vous êtes abonné à Be tv ? Vous avez des questions ?
																						Trouvez toutes nos réponses pour bien gérer votre abonnement.
																				</p>
																				<a href="/fr/info/details/je-gere-mon-abonnement/" class="discover">Découvrir</a>
																		</div>
																</div>

																<div class="clas-col clas-col-last">
																		<h3><a href="/fr/contact/telephone">Contacter Be tv</a></h3>
																		<div class="clas-col-content clas-col-long">
																				 <a href="/fr/contact/telephone" class="full-link" ></a>
																				<img src="assets/images/aide-tab-tel.jpg" width="230" height="190" class="clas-col-img" />
																				<p>
																						Si vous souhaitez vous abonner ou si vous avez des questions,
																						contactez-nous par <strong>téléphone</strong>, par <strong>mail</strong> ou directement dans l'un de nos nombreux<br /><strong>points de vente</strong>.
																				</p>
																				<a href="/fr/contact/telephone" class="discover">Nous contacter</a>
																		</div>
																</div>
														</div>
												</div>
												<!-- DROPDOWN -->
										</li>
										<li class="headerMenu-list">
												<a href="/fr/offre/" class="abonner">S'abonner</a>
										</li>
								</ul>
						</div>

				</div>
		</nav>

		<div class="clear"></div>
</header>
<div class="betv-gradient-1px">&nbsp;</div>
